<footer class="bg-transparent">
  <div class="border-t border-gray-400 flex justify-between items-center h-16">
    <div>
      <a href="#" class="text-gray-500 hover:text-gray-900 mr-10 ml-4">Plan du site</a>
      <a href="#" class="text-gray-500 hover:text-gray-900 mr-10">Mentions légales</a>
      <a href="#" class="text-gray-500 hover:text-gray-900 mr-10">Données personnelles</a>
      <a href="#" class="text-gray-500 hover:text-gray-900">Gestion des cookies</a>
    </div>
    <div class="text-gray-500 text-sm mr-8">© 2023 GROUPE1 CESI</div>
  </div>
</footer>
