<div class="flex justify-center shadow bg-blanc">
  <form class="w-full bg-white"  (ngSubmit)="onSearch()">
    <div class="m-2">
      <select id="category" class="w-full p-2 bg-grisclair rounded" name="categorie"
         [(ngModel)]="selectedCategoryId">
        <option disabled selected value="undefined">Catégorie</option>
        <option *ngFor="let categorie of categories" [value]="categorie.categorieId">
          {{ categorie.libelle }}
        </option>
      </select>
    </div>

    <div class="m-2">
      <select id="typeRessource" class="w-full p-2 bg-grisclair rounded" name="typeRessource" [(ngModel)]="selectedTypeRessourceId">
        <option  disabled selected value="undefined">Type de ressource</option>
        <option *ngFor="let typeRessource of typeRess" [value]="typeRessource.typeRessourceId">
          {{ typeRessource.libelle }}
        </option>
      </select>
    </div>

    <div class="m-2 flex flex-col gap-2">
      <input type="text" placeholder="Nom de la publication" class="w-full bg-grisclair p-2" name="publicationName" [(ngModel)]="publicationName" />
      <input type="text" placeholder="Auteur" class="w-full bg-grisclair p-2" name="autheur" [(ngModel)]="author" />
      <input type="date" placeholder="Date de publication" class="w-full bg-grisclair p-2" name="date" [(ngModel)]="publicationDate" />
    </div>

    <div class="m-2">
      <button type="button" id="Rechercher" class="w-full bg-bleubtn text-blanc p-2 rounded" (click)="onSearch()">
        Rechercher
      </button>
    </div>


  </form>
</div>
