<form>
    <div>
        <h3>Filtre de Recherche</h3>
        <hr class="separator">
        <select id="category">
          <option value="">Catégorie</option>
          <option value="cat1">Catégorie 1</option>
          <option value="cat2">Catégorie 2</option>
          <option value="cat3">Catégorie 3</option>
        </select>

        <select id="type">
          <option value="">Type de ressource</option>
          <option value="type1">Type 1</option>
          <option value="type2">Type 2</option>
          <option value="type3">Type 3</option>
        </select>

        <div class="input-zone">
            <input type="text" placeholder="Nom de la publication">
            <input type="text" placeholder="Auteur">
            <input type="date" placeholder="Date de publication">
        </div>

        <div class="boutons-container">
            <button type="button" id="Rechercher">Rechercher</button>
        </div>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
          Button
        </button>
    </div>
</form>