<div class=" pt-2 pb-2">
<div class="border border-gray-300 p-6  max-w-5xl mx-auto">
  <div class="pt-20">
    <h1 class="pl-32 text-5xl font-bold text-bleubtn text-center flex items-center">
      Mentions légales
      <img src="assets/img/vitrine/siteon0 1.png" alt="Image" class="pl-32 w-1/3 h-auto">
    </h1>
    <div class="pt-32 pl-6 pr-6">
      <h1 class="font-bold text-2xl">Information éditeur</h1>
      <p class="text-black mt-4 pl-10">
        <span class="h-2 w-2 mr-2"></span>
        Les principaux services du ministère participent à la gestion et à l’amélioration du site <strong>ressources_relationnelles</strong>.<br>
        Le suivi éditorial, graphique et technique est assuré par le groupe <strong>Bachelor BCDA du CESI Orleans 2022/2023</strong>.<br>
        1 All. du Titane, 45100 Orléans
      </p>
    </div>
    <div class="pt-10 pl-6 pr-6">
  <h1 class="font-bold text-2xl pb-4">Auteurs</h1>
  <a href="https://www.linkedin.com/in/arthur-bergere-b26336205/?original_referer=https%3A%2F%2Fgithub.com%2F" class="text-blue-500 mt-4 pl-10 hover:text-blue-500 !important">
    <span class="h-2 w-2 mr-2">•</span>
    Arthur Bergere
  </a><br><br>
  <a href="https://www.linkedin.com/in/maxime-gauthier45/" class="text-blue-500 mt-4 pl-10 hover:text-blue-500 !important">
    <span class="h-2 w-2 mr-2">•</span>
    Maxime Gauthier
  </a><br><br>
  <a href="https://www.linkedin.com/in/dylan-couton-189571168/?original_referer=https%3A%2F%2Fgithub.com%2F" class="text-blue-500 mt-4 pl-10 hover:text-blue-500 !important">
    <span class="h-2 w-2 mr-2">•</span>
    Dylan Couton
  </a><br><br>
  <a href="https://www.linkedin.com/in/corentin-pihij-1605621a4/" class="text-blue-500 mt-4 pl-10 hover:text-blue-500 !important">
    <span class="h-2 w-2 mr-2">•</span>
    Corentin Pihij
  </a>
</div>
    <div class="pt-10 pl-6 pr-6">
      <h1 class="font-bold text-2xl pb-4">Droits de reproduction</h1>
      <p class="text-black mt-4 pl-10">
        <span class="h-2 w-2 mr-2"></span>
        Les contenus du site <strong>ressources_relationnelles.fr</strong>, à l’exception des marques et logos et des contenus grevés de droits de propriété intellectuelle de tiers ou contenant des données à caractère personnel, sont des informations publiques librement et gratuitement réutilisables dans les conditions fixées par la loi n°78-753 du 17 juillet 1978, formalisées dans les conditions générales de réutilisation des informations publiques ou dans le respect des conditions générales de réutilisation des informations publiques.<br><br>
        Si vous souhaitez réutiliser des contenus présents sur ce site, merci de bien vouloir <strong>nous contacter</strong>.
      </p>
    </div>
    <div class="pt-10 pl-6 pr-6">
      <h1 class="font-bold text-2xl pb-4">Données personnelles</h1>
      <p class="text-black mt-4 pl-10">
        <span class="h-2 w-2 mr-2"></span>
        Lorsque des données présentes sur ce site ont un caractère nominatif, les utilisateurs doivent en faire un usage conforme aux réglementations en vigueur et aux recommandations de la Commission nationale de l’informatique et des libertés (Cnil).
        <br><br>
        Conformément à la loi Informatique et Liberté 78-17 du 6 janvier 1978 modifiée, vous disposez d’un droit d’opposition (art. 38), d’accès (art. 39), de rectification ou de suppression (art. 40) des données qui vous concernent. Vous pouvez exercer ce droit en vous adressant au groupe BCDA du CESI, plus particulièrement au référent RGPD Corentin PIHIJ.
        <br><br>
        Ce droit s’exerce, en justifiant de son identité :
        <br><br>
        Message linkedin :
        <a href="https://www.linkedin.com/in/corentin-pihij-1605621a4/" class="text-blue-500 mt-4 pl-10" style="transition: background-color 0.3s ease;">
          linkedin de Corentin Pihij
        </a>
      </p>
    </div>
    <div class="pt-10 pl-6 pr-6">
      <h1 class="font-bold text-2xl pb-4">Liens vers d’autres sites</h1>
      <p class="text-black mt-4 pl-10">
        <span class="h-2 w-2 mr-2"></span>
        De nombreux liens vers d’autres sites, privés ou officiels, français ou étrangers, sont proposés. Leur présence ne saurait engager le ministère quant à leur contenu et ne visent qu’à permettre à l’internaute de trouver plus facilement d’autres ressources documentaires sur le sujet consulté.
      </p>
    </div>
    <div class="pt-10 pl-6 pr-6">
      <h1 class="font-bold text-2xl pb-4">Création de liens vers le site</h1>
      <p class="text-black mt-4 pl-10">
        <span class="h-2 w-2 mr-2"></span>
        La mise en place de lien vers le site ressources_relationnelles.fr n’est conditionnée à aucun accord préalable.
      </p>
    </div>
    <div class="pt-10 pl-6 pr-6">
      <h1 class="font-bold text-2xl pb-4">Contenus du site</h1>
      <p class="text-black mt-4 pl-10">
        <span class="h-2 w-2 mr-2"></span>
        Malgré tout le soin apporté par nos équipes éditoriales et techniques à la rédaction et la mise en ligne des documents, des erreurs typographiques ou des inexactitudes techniques ne peuvent être exclues. Le groupe BCDA 2022/2023 Orleans se réserve le droit de les corriger à tout moment dès qu’elles sont portées à sa connaissance.<br><br>
        Les informations et les documents contenus sur le site ressources_relationnelles.fr sont susceptibles de faire l’objet de mise à jour à tout moment. Notamment, elles peuvent faire l’objet de mises à jour entre le moment de leur téléchargement par l’internaute et celui où il en prend connaissance.
      </p>
    </div>
    <div class="pt-10 pl-6 pr-6 ">
      <h1 class="font-bold text-2xl pb-4">Clause de responsabilité</h1>
      <p class="text-black mt-4 pl-10">
        <span class="h-2 w-2 mr-2"></span>
        Les informations proposées sur ce site le sont à titre de service rendu au public. Malgré tout le soin apporté à la transcription des textes officiels, à la vérification des contenus et des informations, les éléments mis en ligne ne sauraient, de quelque manière que ce soit, prétendre à l’exactitude et engager la responsabilité du groupe BCDA 2022/2023 Orleans.
      </p>
    </div>
  </div>
</div >
</div>
