<!-- <div class="flex flex-grow"> -->


<div class="bg-gray-100 bg-white rounded-lg shadow-lg">
    <div class="underline p-4">Mes Informations</div>

    <div class="flex p-4 gap-4">
      <form 
      class="flex flex-col flex-grow"
      [formGroup]="profilForm">
        <div>
          <label for="nom" class="text-sm font-medium text-gray-700 mb-1"
            >Nom :</label
          >
          <input
            type="text"
            id="nom"
            formControlName="nom"
            class="bg-grisclair w-full rounded-lg border-gray-300 focus:ring-blue-500 focus:border-blue-500"
          />
        </div>

        <div>
          <label
            for="prenom"
            class="block text-sm font-medium text-gray-700 mb-1"
            >Prénom :</label
          >
          <input
            type="text"
            id="prenom"
            formControlName="prenom"
            class="bg-grisclair w-full rounded-lg border-gray-300 focus:ring-blue-500 focus:border-blue-500"
          />
        </div>

        <div>
          <label
            for="email"
            class="block text-sm font-medium text-gray-700 mb-1"
            >Email :</label
          >
          <input
            type="email"
            id="email"
            formControlName="email"
            class="bg-grisclair w-full rounded-lg border-gray-300 focus:ring-blue-500 focus:border-blue-500"
          />
        </div>

        <div>
          <label
            for="telephone"
            class="block text-sm font-medium text-gray-700 mb-1"
            >Téléphone :</label
          >
          <input
            type="tel"
            id="telephone"
            formControlName="telephone"
            class="bg-grisclair w-full rounded-lg border-gray-300 focus:ring-blue-500 focus:border-blue-500"
          />
        </div>

        <div>
          <label
            for="adresse"
            class="block text-sm font-medium text-gray-700 mb-1"
            >Rue</label
          >
          <input
            type="text"
            id="adresse"
            formControlName="adresse"
            class="bg-grisclair w-full rounded-lg border-gray-300 focus:ring-blue-500 focus:border-blue-500"
          />
        </div>

        <div>
          <label
            for="ville"
            class="block text-sm font-medium text-gray-700 mb-1"
            >CP, Ville</label
          >
          <input
            type="text"
            id="ville"
            formControlName="ville"
            class="bg-grisclair w-full rounded-lg border-gray-300 focus:ring-blue-500 focus:border-blue-500"
          />
        </div>

        <div>
          <label
            for="password"
            class="block text-sm font-medium text-gray-700 mb-1"
            >Mot de passe</label
          >
          <input
            type="text"
            id="password"
            formControlName="password"
            class="bg-grisclair w-full rounded-lg border-gray-300 focus:ring-blue-500 focus:border-blue-500"
          />
        </div>

        <div>
          <label
            for="confirmPassword"
            class="block text-sm font-medium text-gray-700 mb-1"
            >Confirmer le mot de passe</label
          >
          <input
            type="text"
            id="confirmPassword"
            formControlName="confirmPassword"
            class="bg-grisclair w-full rounded-lg border-gray-300 focus:ring-blue-500 focus:border-blue-500"
          />
        </div>

        <div class="mt-6 text-center">
          <button
            type="submit"
            class="py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-600 bg-bleubtn text-blanc"
          >
            Valider les modifications
          </button>
        </div>
      </form>

      <div class="flex flex-col">
        <img
          src="../../../assets/img/utilisateur.png"
          alt="image de profil"
          class="max-h-28 object-contain"
        />
        <div class="text-center">date de création du compte : 01/01/2021</div>
        <a href="#" class="underline text-center">supprimer le compte</a>
      </div>
    </div>
  </div>

<!-- </div> -->