<nav>
  <header class="bg-cover bg-center h-40 md:h-60 lg:h-80" style="background-image: url('assets/img/vitrine/josh-hild-m9aGgc8UW6o-unsplash 1.png');">
    <app-bloc-navbar></app-bloc-navbar>
    <button class="rounded bg-bleubtn text-blanc py-1 px-16 absolute left-20 top-1/2 transform -translate-y-1/2 flex items-center">
      <span class="mr-2">S'inscrire</span>
      <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </button>
    <button class="rounded bg-bleubtn text-blanc py-1 px-12 absolute left-20 mt-12 top-1/2 transform -translate-y-1/2 flex items-center">
      <span class="mr-2">Se connecter</span>
      <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </button>
    <div class="absolute left-1/2 top-1/6 md:top-1/4 transform -translate-x-1/2">
      <img src="assets/img/logoVitrine.png" alt="Image" class="w-80 h-80 mt-[-50px]">
    </div>
  </header>

  <section>
    <div class="shadow"></div>
      <div class="container">
          <div class="content opacity">
              <h3 class="title">
                  About
                  <div class="border"></div>
              </h3>
              <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque officiis quos expedita ipsa, a quidem inventore voluptates debitis accusamus tenetur qui et voluptas dicta, culpa earum, doloribus odio consectetur consequuntur soluta quasi nobis! Deserunt voluptatum reiciendis iure expedita sequi quisquam laboriosam temporibus exercitationem.</p>
          </div>
      </div>
  </section>
</nav>
