


header{
  width: 100%;
  height: 100vh;
  position: relative;
}

section{
  width: 100%;
  background-color: #ffffff;
  position: relative;
}

section .container{
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}



.title{
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  position: relative;
}

.border{
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #fff;
  bottom: 0;
  left: 0;
}

.shadow{
  position: absolute;
  bottom: 100%;
  height: 300px;
  width: 100%;
  left: 0;
  background: linear-gradient(to top, #151515, transparent);
}



@media (max-width: 850px){
  section .container{
      grid-template-columns: 1fr;
  }
}

@media(max-width: 600px){
  .big-title{
      font-size: 3rem
  }

  .text{
      font-size: .8rem;
  }

  .title{
      font-size: 1.2rem;
  }
}
