<nav>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
  Button
</button></nav>

<nav>
    <header class="bg-cover bg-center h-40 md:h-60 lg:h-80" style="background-image: url('assets/img/vitrine/josh-hild-m9aGgc8UW6o-unsplash 1.png');">
        <button class="rounded bg-bleubtn rounded text-blanc py-2 px-4">
      S'inscrire
    </button>

        <a href="lien-connexion.html" class="flex items-center bg-2c338e text-blanc font-bold py-2 px-4 rounded-full mt-4">
      Se connecter
      <svg class="ml-2 w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </a>
    </header>

    <section>
        <div class="shadow"></div>
        <div class="container">
            <div class="content opacity">
                <button class="bg-2c338e text-white font-bold py-2 px-4 rounded-full">
              S'inscrire
            </button>
                <h3 class="title">
                    About
                    <div class="border"></div>
                </h3>
                <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque officiis quos expedita ipsa, a quidem inventore voluptates debitis accusamus tenetur qui et voluptas dicta, culpa earum, doloribus odio consectetur consequuntur soluta quasi
                    nobis! Deserunt voluptatum reiciendis iure expedita sequi quisquam laboriosam temporibus exercitationem.</p>
            </div>
        </div>
    </section>
</nav>