<div class="flex justify-center shadow">
  <div class="w-full bg-white m-2 p-2 flex flex-col gap-4">
    <div class="flex gap-2">
      <img
        src="../../../../assets/img/utilisateur.png"
        alt="image de profil"
        class="max-h-12"
      />
      <div>
        <h3 class="font-bold">Utilisateur (famille)</h3>
        <p>Publié le 12/12/2020</p>
      </div>
      <div class="ml-auto">
        <a routerLink="/accueil">...</a>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <h1 class="font-bold">Titre de la ressource</h1>
      <span class="italic">Catégorie : intelligence</span>
      <span class="italic">Type de ressource : Exercices / Atelier</span>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas
        repellendus consequuntur deserunt voluptate illo eos harum beatae error
        recusandae perspiciatis obcaecati magnam possimus quas, ducimus
        excepturi animi porro cupiditate officia!
      </p>
      <span>Annexe.pdf</span>
    </div>

    <div class="flex justify-around">
      <button class="flex gap-2">
        <img
          src="../../../../assets/img/ressource/coeurNotClick.png"
          alt=""
          class="max-h-6"
        />
        <div>J'aime</div>
      </button>
      <button class="flex gap-2">
        <img
          src="../../../../assets/img/ressource/commentaire.png"
          alt=""
          class="max-h-6"
        />
        <div>Commenter</div>
      </button>
    </div>
  </div>
</div>
