<div class="flex justify-center shadow bg-blanc">
  <div class="w-full bg-white m-2 p-2 flex flex-col gap-4">
    <div class="flex gap-2">
      <img
        src="../../../../assets/img/utilisateur.png"
        alt="image de profil"
        class="max-h-12"
      />
      <div>
        <h3 class="font-bold">Auteur (famille)</h3>
        <p>Publié le {{ data.dateCreation }}</p>
      </div>
      <div class="ml-auto">
        <a routerLink="/accueil">...</a>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <h1 class="font-bold">{{ data.titre }}</h1>
      <span class="italic">Catégorie : {{ data.categorieLibelle }}</span>
      <span class="italic">Type de ressource : Exercices / Atelier</span>
      <p>
        {{ data.contenu }}
      </p>
      <span class="underline">Annexe.pdf</span>
    </div>

    <div class="flex justify-around border-t pt-3">
      <button class="flex gap-2">
        <img
          src="../../../../assets/img/ressource/coeurNotClick.png"
          alt=""
          class="max-h-6"
        />
        <div>J'aime</div>
      </button>
      <button class="flex gap-2">
        <img
          src="../../../../assets/img/ressource/commentaire.png"
          alt=""
          class="max-h-6"
        />
        <div>Commenter</div>
      </button>
    </div>
  </div>
</div>
