  <div class="flex justify-center">
      <div class="grid grid-cols-1 lg:grid-cols-8">
        <div id="leftside" class="lg:col-start-2 lg:col-span-2 mx-auto">
          <app-bloc-mes-relations class="mx-2"></app-bloc-mes-relations>
          <app-mes-ressources></app-mes-ressources>
        </div>
        <div id="feed" class="lg:col-start-4 lg:col-span-2 mx-auto">
          <app-PostRessource class="mx-2"></app-PostRessource>
          <app-bloc-ressources></app-bloc-ressources>
        </div>
        <div id="rightside" class="lg:col-start-6 lg:col-span-2 mx-auto">
          <app-FiltreRecherche class="mx-2"></app-FiltreRecherche>
          <app-FavRessource></app-FavRessource>
        </div>
      </div>
  </div>
  