<app-bloc-navbar></app-bloc-navbar>
<div class="flex justify-center">
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
        <div id="leftside" class="lg:col-span-1">
            <app-bloc-mes-relations></app-bloc-mes-relations>
            <app-FavRessource></app-FavRessource>
        </div>
        <div id="feed" class="lg:col-span-2">
            <app-PostRessource></app-PostRessource>
            <app-bloc-ressources></app-bloc-ressources>
        </div>
        <div id="rightside" class="lg:col-span-1">
            <app-FiltreRecherche></app-FiltreRecherche>
            <app-mes-ressources></app-mes-ressources>
        </div>
    </div>
</div>