<div class="h-screen pt-20">
  <h1 class="text-3xl font-bold text-bleubtn text-center">Plan du site</h1>
  <div class="pt-20 pl-20">
    <h1 class="font-bold text-2xl">Gestion Compte</h1>
    <a [routerLink]="'/pageProfil'"  class="text-black mt-4 flex items-center pl-10">
      <span class="h-2 w-2 rounded-full bg-bleubtn mr-2"></span>
      Profil
    </a><a [routerLink]="'/inscription'"  class="text-black mt-4 flex items-center pl-10">
      <span class="h-2 w-2 rounded-full bg-bleubtn mr-2"></span>
      Création d'un compte
    </a>
  </div>
   <div class="pt-20 pl-20">
    <h1 class="font-bold text-2xl">Administration </h1>
    <a [routerLink]="'/pageProfil'"  class="text-black mt-4 flex items-center pl-10">
      <span class="h-2 w-2 rounded-full bg-bleubtn mr-2"></span>
      Statistique
    </a>
  </div>
</div>
