<form>
    <div>
        <h3>Ressources favorites</h3>
        <hr class="separator">
        <div class="titre">Titre like</div>
        <div class="date">Date publication</div>
        <br>
        <div class="titre">Titre like</div>
        <div class="date">Date publication</div>
        <br>
        <div class="titre">Titre like</div>
        <div class="date">Date publication</div>
        <br>
        <div class="titre">Titre like</div>
        <div class="date">Date publication</div>

    </div>
</form>