<nav class="flex items-center justify-between bg-bleufonce text-white">
  <a class="font-bold" href="#">
    <img src="assets/img/logo.png" class="max-h-16" alt="Logo">
  </a>
  <div class="flex items-center">
    <input type="text" placeholder="Rechercher sur RE..." class="border-2 border-blue-500 rounded px-8 py-2">
  </div>
  <div class="flex items-center">
    <div>
        <a href="#" class="ml-4 text-blanc">Mon profil</a>
      </div>
      <div class="flex">
        <a href="#" class="ml-4">
          <img src="assets/img/utilisateur.png" class="max-h-16" alt="Utilisateur">
        </a>
      </div>
  </div>
</nav>
{{utilisateurs | json}}
