<div class="bg-background-panel p-4 rounded-md w-auto">
    <div>
        <h2 class="text-xl font-bold mb-2">Mes ressources</h2>
        <hr class="w-20">
    </div>
    <div class="flex flex-col">
        <div *ngFor="let produit of data" class="flex items-center p-2 border-b h-50">
            <!-- <img class="max-h-14 rounded-lg" [src]="produit.image" alt="{{ produit.title }}" /> -->
            <div class="flex flex-col flex-grow ml-2">
                <h3 class="text-truncate font-bold">{{ produit.title }}</h3>
                <p class="text-truncate">{{ produit.description }}</p>
            </div>
        </div>
    </div>
</div>