<div class="flex justify-center shadow bg-blanc mb-2">
  <form class="w-full bg-white" [formGroup]="ajoutRessourceForm">
    <div class="m-2">
      <select id="category" class="w-full p-2 bg-grisclair rounded" formControlName="categorie">
        <option disabled selected value="undefined">Catégorie</option>
        <option *ngFor="let categorie of categories" [value]="categorie.categorieId">
          {{ categorie.libelle }}
        </option>
      </select>
    </div>

    <div class="m-2">
      <select id="type" class="w-full p-2 bg-grisclair rounded">
        <option value="">Choisir un type de ressource</option>
        <option value="type1">Type 1</option>
        <option value="type2">Type 2</option>
        <option value="type3">Type 3</option>
      </select>
    </div>

    <div class="m-2">
      <input
        type="text"
        id="titre"
        formControlName="titre"
        placeholder="Titre de la ressource"
        class="w-full bg-grisclair p-2"
      />
    </div>

    <div class="m-2">
      <textarea
        type="text"
        id="contenu"
        formControlName="contenu"
        placeholder="Publier une ressource..."
        class="w-full bg-grisclair p-2"
      ></textarea>
    </div>

    <div class="flex flex-row m-2 gap-2">
      <button
        type="button"
        id="ajouter-photo-video"
        class="w-full bg-bleubtn text-blanc p-2 rounded"
      >
        Ajouter une photo / vidéo
      </button>
      <button
        type="submit"
        id="publier"
        class="w-full bg-bleubtn text-blanc p-2 rounded"
        (click)="publierRessource()"
      >
        Publier
      </button>
    </div>
  </form>
</div>
